@tailwind base;
@tailwind components;
@tailwind utilities;

#version-text {
    width: fit-content;  
}

.flipped {
    transform: scaleX(-1) translateY(0.5rem);
  }

  .version-text {
    transition: all 0.3s ease; 
}

.version-text:hover {
    transform: translateY(-0.25rem); 
}

.version-text .arrow {
    transition: transform 0.3s ease; 
}

.version-text:hover .arrow {
    transform: translateX(0.5rem);
}

.gradient-hover {
    background-color: #F1F5F9; 
    border-radius: 1rem;
    padding: 1px;
    margin-top: 2rem;
    transition: background 0.3s ease; 
  }
  
 
  .soft-gradient-hover {
    background-color: #FFFFFF; 
    border-radius: 1rem;
    padding: 1.5rem;
    transition: background 0.3s ease; 
  }
  

  .gradient-hover:hover {
    background: linear-gradient(135deg, #FEB2B2, #E9D8FD, #FEFCBF); 
  }
  

  .gradient-hover:hover .soft-gradient-hover {
    background: linear-gradient(135deg, #FFF5F5, #FAF5FF, #FFFBEB);
  }

  #customer-content-img {
    width: fit-content;
  }
  
  #customer-img {
    display: flex;
    justify-content: end;
  }

  #customer-img img{
    width: 80%;
    height: 80%;
  }


/* Default (large screens) */
.translate-x-6.translate-y-6 {
  transform: translate(4rem,5rem); /* Applies both X and Y translations */
}

.underline-opacity {
  position: relative;
}

.underline-opacity::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* Adjust thickness */
  background-color: currentColor; /* Inherit text color */
  opacity: 0.3; /* Default opacity */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.underline-opacity:hover::after {
  opacity: 1; /* Full opacity on hover */
}

/* Small screens (640px and up) */
@media (min-width: 640px) {
  .sm\:translate-x-4.sm\:translate-y-4 {
    transform: translate(1rem, 1rem); /* Applies both X and Y translations for small screens */
  }
}

/* Medium screens (768px and up) */
@media (min-width: 768px) {
  .md\:translate-x-2.md\:translate-y-2 {
    transform: translate(0.5rem, 0.5rem); /* Applies both X and Y translations for medium screens */
  }
}
