@tailwind base;
@tailwind components;
@tailwind utilities;

#version-text {
    width: fit-content;  
}

.flipped {
    transform: scaleX(-1) translateY(0.5rem);
  }

  .version-text {
    transition: all 0.3s ease; 
}

.version-text:hover {
    transform: translateY(-0.25rem); 
}

.version-text .arrow {
    transition: transform 0.3s ease; 
}

.version-text:hover .arrow {
    transform: translateX(0.5rem);
}

.gradient-hover {
    background-color: #F1F5F9; 
    border-radius: 0.5rem;
    padding: 1px;
    margin-top: 2rem;
    transition: background 0.3s ease; 
  }
  
 
  .soft-gradient-hover {
    background-color: #FFFFFF; 
    border-radius: 0.5rem;
    padding: 1.5rem;
    transition: background 0.3s ease; 
  }
  

  .gradient-hover:hover {
    background: linear-gradient(135deg, #FEB2B2, #E9D8FD, #FEFCBF); 
  }
  

  .gradient-hover:hover .soft-gradient-hover {
    background: linear-gradient(135deg, #FFF5F5, #FAF5FF, #FFFBEB);
  }

  #customer-content-img {
    width: fit-content;
  }
  
  #customer-img {
    display: flex;
    justify-content: end;
  }

  #customer-img img{
    width: 80%;
    height: 80%;
  }
  