@tailwind base;
@tailwind components;
@tailwind utilities;

#version-text {
    width: fit-content;  
}

.flipped {
    transform: scaleX(-1) translateY(0.5rem);
  }

  .version-text {
    transition: all 0.3s ease; 
}

.version-text:hover {
    transform: translateY(-0.25rem); 
}

.version-text .arrow {
    transition: transform 0.3s ease; 
}

.version-text:hover .arrow {
    transform: translateX(0.5rem);
}
